.App {
  text-align: center;
  padding: 20px;
}

input, select {
  margin: 10px;
  padding: 10px;
}

.news-articles {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.article-card {
  border: 1px solid #ddd;
  padding: 20px;
  margin: 10px;
  width: 300px;
  text-align: left;
}

.pagination {
  list-style-type: none;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination li {
  margin: 0 5px;
  cursor: pointer;
}

.active {
  font-weight: bold;
  text-decoration: underline;
}
